.content {
    position: absolute !important;
    top: 40px;
    left: 180px;
    width: calc(100% - 180px);
    height: calc(100vh - 40px);
    background-color: rgb(244, 245, 247);
    transition: 100ms;
    /* box-shadow: inset 0px 0px 3px 0px rgb(0 0 0 / 30%); */
}

.fade-left {
    width: calc(100% - 56px) !important;
    left: 56px !important;
}

.content .content-body {
    margin: 0 16px;
    padding: 15px;
    background-color: white;
}


/* pagination */

.content .paging-bar {
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    /* border-top: 1px solid #e5e5e5; */
    z-index: 1;
    height: 46px;
    left: 0;
}

.content .paging-bar .left-footer {
    display: flex;
    align-items: center;
    position: absolute;
    right: 28px;
}

ul.pagination {
    align-items: center!important;
    justify-content: flex-end;
    margin: 0;
    display: flex;
    list-style: none;
}

ul.pagination li {
    margin-left: 8px;
}

ul.pagination li button {
    padding: 0 .5rem!important;
    color: black!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
}

.page-item.active .page-link {
    border: 1px solid #e0e0e0!important;
    font-weight: bold;
    color: black!important;
    z-index: 1!important;
    background: #e5e5e5;
    border-radius: 3px;
}

.page-link:focus {
    box-shadow: none !important;
}

ul.pagination .disabled button {
    color: var(--gray-color) !important;
}

.instruction-interface {
    height: 100%;
    position: absolute;
    width: 100%;
}

.step {
    /* background-color: white; */
    position: absolute;
    padding: 10px;
}

.step-content {
    background-color: white;
    margin-top: -28px;
    padding: 20px;
    width: fit-content;
    transition: .2s;
}

.description-info {
    width: max-content;
    margin: 15px 0 20px;
}

.step-buttons button {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 5px 17px;
    border-radius: 30px;
}